<div class="col-lg-6 col-lg-offset-3 col-md-3 col-md-offset-3">
	<div class="row">
		<h2>Sign in here</h2>
		{{#if message}}
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>Error;&nbsp;&nbsp;</strong>{{message}}
		</div>  
		{{/if}}
	</div>	
	<form method="post">
		<div class="form-group">
			<label for="name"><p>Name</p></label>
			<div>
				<input id="name" class="form-control" name="name" type="text" autofocus />
			</div>
		</div>
		<div class="form-group">
			<label for="email"><p>Email</p></label>
			<div>
				<input id="email" class="form-control" name="email" type="text" />
			</div>
		</div>
		<div class="form-group">
			<label for="password"><p>Password</p></label>
			<div>
				<input id="password"  class="form-control" name="password" type="password" />
			</div>
		</div>
		<button type="submit" class="btn btn-primary btn-lg">Submit</button>
	</form>
</div>