<div class="starter-template">
	<h1>Join And Chat With The Coolest Kids On Campus</h1>
	<p class="lead">Link up with your course mates, friends and that babe or guy you have been eyeing</p>
</div>
<div class="col-lg-8 col-lg-offset-4 col-md-4 col-md-offset-4">
	<a href="/signup" class="btn btn-lg btn-primary">Sign in</a>
	<a href="/login" class="btn btn-lg btn-primary">Login</a>
</div>
